<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="../shared/base_style.css">
  <link rel="stylesheet" type="text/css" href="../shared/banner.css">
  <link rel="stylesheet" type="text/css" href="../shared/account_style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
  <div id="page">
    {{#if student}}
    {{> banners/student}}
    {{else}}
    {{> banners/teacher}}
    {{/if}}

    <div id="contentDiv">
      <div id="pageTitle">
        <h1 class="titles">Account</h1>
      </div>

      <div class="accountDetailsDiv">
        <h2 class="accountDetailsTitle">{{name}}</h2>
        <table class="accountTable">
          <tr>
              <th>Username</th>
              <td>{{uname}}</td>
          </tr>
          <tr>
              <th>Age</th>
              <td>{{age}}</td>
          </tr>
          <tr>
              <th>Account Type</th>
              <td>{{type}}</td>
          </tr>
          <tr>
              <th>School ID</th>
              <td>{{sch_id}}</td>
          </tr>
          <tr>
              <th>School Name</th>
              <td>{{sch_name}}</td>
          </tr>
        </table>
    </div>
  </div>
</body>
</html>
