<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="base_style.css">
  <link rel="stylesheet" type="text/css" href="banner.css">
  <link rel="stylesheet" type="text/css" href="concept.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body>
  <div id="page">
    {{#if student}}
    {{> banners/student}}
    {{else}}
    {{> banners/teacher}}
    {{/if}}

    <div id="contentDiv" class="clearFix">
      <div id="wrapperDiv" class="clearFix">
        <h1 id="conceptTitle" class="titles">{{title}}</h1>

          <div class="descriptionDiv">
            {{#each concept_points}}
              <p class="conceptBullets">{{{this}}}</p>
            {{/each}}

        <!--ul class="infoList">
        {{#each concept_points}}
          <li class="conceptBullets">{{{this}}}</li>
        {{/each}}
      </ul-->

         </div>
        
         <h2 id="whatsNewTitle" class="titles">What to expect</h2>
        
        <div id="imagesDiv">
          <div id="blocksDiv">
              <figure id="blocksFigure">
                <figcaption class="previewCaptions">New Blocks!</figcaption>
                <img class="blocksImage" src="{{new_blocks_image}}" alt="New blocks">
              </figure>
              
              <ul id="blocksList">
                {{#each new_blocks_points}}
                  <li class="blocksPoints">{{this}}</li>
                {{/each}}
            </ul>
          </div>

          <div id="previewDiv">
            <figure id="blocksFigure">
              <figcaption class="previewCaptions">Example Program<figcaption>
              <img class="blocksImage" src="{{preview_program}}" alt="Example program">
            </figure>
            
            <figure>
              <figcaption class="previewCaptions">Program In Action</figcaption>
              <video width="250" height="250" autoplay loop>
                <source src="{{preview_video}}" type="video/mp4">
              Your browser does not support the video tag.
              </video>
            </figure>
          </div>
        </div>

        <div id="levelButtonsDiv">
          {{#if student}}
            <button class="levelButton" type="button" onclick="location.href='/student/level_selection'">Back To Levels</button>
          {{else}}
            <button class="levelButton" type="button" onclick="location.href='/teacher/level_selection'">Back To Levels</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
