<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="base_style.css">
  <link rel="stylesheet" type="text/css" href="banner.css">
  <link rel="stylesheet" type="text/css" href="concept.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body>
  <div id="page">
    {{#if student}}
    {{> banners/student}}
    {{else}}
    {{> banners/teacher}}
    {{/if}}

    <div id="contentDiv">
      <div id="wrapperDiv">
        <h1 id="conceptTitle" class="titles">{{title}}</h1>
          <h2 class="subTitle">Introduction</h2>

          <div class="descriptionDiv">
            {{#each concept_points}}
              <p class="conceptBullets">{{{this}}}</p>
            {{/each}}

         </div>

         <h2 id="whatsNewTitle" class="subTitle">New Blocks</h2>

        <div id="imagesDiv">
          <div id="blocksDiv">            
            <table id="blocksTable">
              <tr>
                <th class="blocksTableHeader">Block</th>
                <th class="blocksTableHeader">Preview</th>
                <th class="blocksTableHeader">What it does</th>
              </tr>
              {{#each new_blocks_points}}
                <tr class="blocksRow">
                  <tr class="blocksRow">{{this.name}}</tr>
                  <td class="blocksRowData"><img class="blocksRowImage" src="{{this.image}}" alt="{{this.name}}"></td>
                  <td class="blocksRowData">{{this.description}}</td>
                </tr>
              {{/each}}
            </table>
          </div>

          <h2 id="whatsNewTitle" class="subTitle">Example</h2>

          <div id="previewDiv">
            <figure id="blocksFigure">
              <img id="programImage" src="{{preview_program}}" alt="Example program">
              <figcaption class="previewCaptions">Example Program<figcaption>
            </figure>

            <figure id="previewFigure">
              <video width="250" height="250" autoplay loop>
                <source src="{{preview_video}}" type="video/mp4">
              Your browser does not support the video tag.
              </video>
              <figcaption class="previewCaptions">Program In Action</figcaption>
            </figure>
          </div>
        </div>

        <div id="levelButtonsDiv">
          {{#if student}}
            <button class="levelButton" type="button" onclick="location.href='/student/level_selection'">Back To Levels</button>
          {{else}}
            <button class="levelButton" type="button" onclick="location.href='/teacher/level_selection'">Back To Levels</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
