<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="base_style.css">
  <link rel="stylesheet" type="text/css" href="banner.css">
  <link rel="stylesheet" type="text/css" href="level_intro.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <div id="page">
    {{#if student}}
    {{> banners/student}}
    {{else}}
    {{> banners/teacher}}
    {{/if}}
    
    <div id="contentDiv">
      <h1 class="titles">{{level_name}}</h1>
      
      <div id="levelDiv" class="descriptionDiv clearFix">
        <div id="levelDescriptionDiv" class="descriptionDiv clearFix">
          <p>
            <b>Objective: </b>
            <ul class="infoList">
              {{#each objectives}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </p>
          
          <div id="blocksDiv" class="clearFix imageDivs">
            <p>
              <b>Blocks Available</b>
              <br>
            </p>
              <img id="blocksImage" src={{blocks_available}} alt="Available blocks"></img>
          </div>
          
          <div id="levelDiv" class="clearFix imageDivs">
            <p>
              <b>Level Preview</b>
              <br>
            </p>
            <img id="levelImage" src="{{level_image}}"/>
          </div>
        </div>
        
        <!--<img id="levelImage" src="../images/loops_and_iteration_1.png" alt="loops_and_iteration_1"></img>-->
      </div>

      <div id="levelButtonsDiv">
        {{#if show_solution}}
        <button class="levelButton" type="button" onclick="location.href='/shared/play?levelId={{level_id}}&studentId={{student_id}}'">Student Solution</button>
        {{else}}
        <button class="levelButton" type="button" onclick="location.href='/shared/play?levelId={{level_id}}&studentId={{student_id}}'">Try Level</button>
        {{/if}}        
        {{#unless student}}
        <button class="levelButton" type="button" onclick="location.href='/teacher/solution?levelId={{level_id}}'">Sample Solution</button>
        {{/unless}}
      </div>
    </div>
  </div>
</body>
</html>