<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="base_style.css">
  <link rel="stylesheet" type="text/css" href="banner.css">
  <link rel="stylesheet" type="text/css" href="level_intro.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <div id="page">
    {{#if student}}
    {{> banners/student}}
    {{else}}
    {{> banners/teacher}}
    {{/if}}
    
    <div id="contentDiv">
      <h1 class="titles">{{level_name}}</h1>
      
      <div id="levelDescriptionDiv" class="descriptionDiv clearFix">
        <p>
          <b>Objective: </b>
          <ul class="infoList">
            {{#each objectives}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </p>
        <div id="imagesDiv">
          <div id="blocksDiv" class="imageDivs">
              <figure>
                <img id="blocksImage" src={{blocks_available}} alt="Available blocks"></img>
                <figcaption class="previewCaptions">Blocks Available</figcaption>
              </figure>
          </div>
          
          <div id="levelImageDiv" class="imageDivs">
            <figure>
              <img id="levelImage" src="{{level_image}}"/>
              <figcaption class="previewCaptions">Level Preview</figcaption>
            </figure>
          </div>
        </div>
      </div>

      <div id="levelButtonsDiv">
        {{#if show_solution}}
        <button class="levelButton" type="button" onclick="location.href='/shared/play?levelId={{level_id}}&studentId={{student_id}}'">Student Solution</button>
        {{else}}
        <button class="levelButton" type="button" onclick="location.href='/shared/play?levelId={{level_id}}&studentId={{student_id}}'">Try Level</button>
        {{/if}}        
        {{#unless student}}
        <button class="levelButton" type="button" onclick="location.href='/teacher/solution?levelId={{level_id}}'">Sample Solution</button>
        {{/unless}}
      </div>
    </div>
  </div>
</body>
</html>