<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="../base_style.css">
  <link rel="stylesheet" type="text/css" href="../partials/banners/style/banner.css">
  <link rel="stylesheet" type="text/css" href="style/level_intro.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>
  <div id="page">
    {{banner}}
    
    <h1 id="conceptTitle">{{concept}}</h1>
    
    <p id="conceptDescription">{{concept_description}}</p>
    
    <h2 id="levelTitle">{{level}}</h2>
    
    <div id="levelDescriptionDiv">
      {{blocks_available}}
      {{hints}}
    </div>
    <img id="levelImage" src="{{level_image}}"/>
  </div>
</body>
</html>
