<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EduBot</title>
  <link rel="stylesheet" type="text/css" href="../shared/base_style.css">
  <link rel="stylesheet" type="text/css" href="../shared/banner.css">
  <link rel="stylesheet" type="text/css" href="../shared/play.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="../lib/blockly/blockly_compressed.js"></script>
  <script src="../lib/blockly/blocks_compressed.js"></script>
  <script src="../lib/blockly/msg/js/en.js"></script>

  <script src="../lib/blockly/javascript_compressed.js"></script>
  <script src="../custom_blocks/robot_blocks.js"></script>
  <script src="../custom_blocks/robot_generator.js"></script>

  <script src="../scripts/utils.js"></script>

</head>
<body>
  <div id="page">
    {{#if student}}
    {{> banners/student}}
    {{else}}
    {{> banners/teacher}}
    {{/if}}
    <div id="contentDiv">
      <div id="blocklyDiv">
        <div id='feedbackZone'>
          <textarea id='feedbackTextArea' rows='4' cols='65' {{#if student}}readonly{{/if}}></textarea>
          <br>
          <button type='button' onclick='submitFeedback()'>{{#if student}}Hide{{else}}Give{{/if}} Feedback</button>
        </div>

        <div id="simpleControlsDiv" class="noSelect">
          <img src="../images/run.png" id="simpleRunButton" class="simpleControl" alt="Run"/>
          <img src="../images/restart.png" id="simpleRestartButton" class="simpleControl" alt="Restart"/>
          <img src="../images/hint.png" id="simpleHintButton" class="simpleControl" alt="Show Hint"/>
          <img src="../images/intro.png" id="simpleIntroButton" class="simpleControl" alt="Intro" onclick="window.location = 'https://edubot-learn.herokuapp.com/shared/level_intro?levelId=' + '{{levelName}}'"/>
          {{#if display_feedback}}
          <img src="../images/feedback.png" id="simpleFeedbackButton" class="simpleControl" alt="Feedback" onclick="giveFeedback()"/>
          {{/if}}
        </div>

        <div id="blocklyWorkspaceDiv"></div>
      </div>

      {{#if tutorial}}
        <div id="alertDiv">Test alert</div>
      {{/if}}

      <div id="visualDiv">

        <div id="controlsDiv">
          <button id="runButton">Run</button>
          <button id="viewButton">View Code</button>
          <button id="hintButton">Show Hint</button>
          <button id="restartButton">Restart</button>
          <input type="file", id="loadButton", name="file", onchange="loadLevel(event)"></input>
        </div>

        <div id="codeDiv">
          <textarea readonly id="code"></textarea>
        </div>

        <div id="canvasDiv">
          <div id="canvasPaddingDiv">
            <canvas id="game_canvas", width=1024, height=1024></canvas>
            <img class="game_image", src="../images/rob.png",
              alt="Rob", id="robot_image"></img>
            <img class="game_image", src="../images/nuts_and_bolts.png", alt="Nuts and bolts",
              id="nuts_and_bolts"></img>
            <script src="../scripts/entities.js"></script>
            <script src="../scripts/robot_anims.js"></script>
            <script src="../scripts/robot_control.js"></script>
            <script src="../scripts/edubot.js"></script>
            <script src="../scripts/levels.js"></script>
            <script>enterLevel('{{{json_level}}}');</script>
          </div>
        </div>
      </div>

      {{#if tutorial}}
        <div id="tutorialWrapperDiv">
          <div id="tutorialDiv"><h3 id="tutorialText"></h3></div>
        </div>
      {{/if}}
    </div>
  </div>

  <xml id="toolbox">{{{xml_blocks}}}</xml>

  <script src="../scripts/level_events.js"></script>
  <script>putBlockXML('{{{json_solution}}}');</script>
  {{#if tutorial}}
    <script src="../scripts/tutorial.js"></script>
  {{/if}}

  <script>
  function giveFeedback() {
    httpGet("https://edubot-learn.herokuapp.com/shared/feedback?uname={{{student_id}}}&level={{{levelName}}}", function(feedback) {
      feedback = $("#feedbackTextArea").val(feedback);
    });

    $("#simpleFeedbackButton").css("display", "none");
    $("#feedbackZone").css("display", "table");
  }

  function submitFeedback() {
    let feedback = $("#feedbackTextArea").val();

    if (!{{student}}) {
      httpPost("https://edubot-learn.herokuapp.com/teacher/add_feedback", {uname: "{{{student_id}}}", level: "{{{levelName}}}", feedback: feedback}, function(status) {
        console.log('result callback status: ', status);

        // If teacher is logged in
        if (status === 200) {
          return;
        }

        if (!(status === 480 || status === 481)) {
          alert("Unknown error, status: ", status);
        }
      });
    }
    $("#simpleFeedbackButton").css("display", "");
    $("#feedbackZone").css("display", "none");
  }
  </script>
</body>
</html>
