<div class="classBox">
  <h2 class="className">{{class_name}}</h2>

  <table class="classMembersTable">
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
    </tr>
    {{#each class_members}}
      <a href="https://edubot-learn.herokuapp.com/teacher/student?id={{this.uname}}">
        <tr class="studentRow">
          <td>{{this.uname}}</td>
          <td>{{this.fname}}</td>
          <td>{{this.lname}}</td>
          <td>{{this.age}}</td>
        </tr>
      </a>
    {{/each}}
  </table>

  <button type="button" onclick="addMemberEvent({{{class_id}}}, this)">Add Member</button>
</div>
