<div class="classBox">
  <h2 class="className">{{class_name}}</h2>

  <table class="classMembersTable">
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
    </tr>
    {{#each class_members}}
      <tr>
        <td>{{this.uname}}</td>
        <td>{{this.fname}}</td>
        <td>{{this.lname}}</td>
        <td>{{this.age}}</td>
      </tr>
    {{/each}}
  </table>

  <button type="button" onclick="addMemberEvent(\"{{{class_name}}}\")">Add Member</button>
  <script>
    var addMemberEvent = function(button) {
      console.log(button);
    };
  </script>
</div>
