<div class="levelDiv">
  <span class="nameDiv">
    {{#if locked}}
    <span class="lockDiv">
      <img class="lockImage", alt="lock", src="../images/lock.png">
      <a class="linkLocked">Level {{number}} - {{name}}</a>
    </span>
    {{else}}
      <a class="playLink">Play</a>
      <a class="linkPlain hoverLink" href="{{link}}">Level {{number}} - {{name}}</a>
    {{/if}}
  </span>
  <span class="starsDiv">
    {{#for 0 stars 1}}
      <img class="starImage", alt="star", src="../images/star_filled.png">
    {{/for}}
    {{#for stars 3 1}}
      <img class="starImage", alt="star", src="../images/star_empty.png">
    {{/for}}
  </span>
</div>
