<div class="levelDiv" id="levelDiv{{number}}" onclick="window.location = '{{link}}'" onmouseover="showFeedbackText('#levelDiv{{number}}')" onmouseout="hideFeedbackText('#levelDiv{{number}}')">
  <span class="nameDiv">
    {{#if locked}}
    <span class="inlineDiv">
      <img class="lockImage", alt="lock", src="../images/lock.png">
      <a class="linkLocked">Level {{number}} - {{name}}</a>
    </span>
    {{else}}
    <span class="inlineDiv">
      <a class="linkPlain hoverLink playLink buttonLink" href="{{link}}">Play</a>
      {{#if student}}
      <a class="linkPlain hoverLink playLink buttonLink">Feedback</a>
      {{/if}}
      <a class="linkPlain hoverLink" href="{{link}}">Level {{number}} - {{name}}</a>
      {{#if feedback}}
      <img class="feedbackImage" src="../../images/feedback_levels.png">
      <span class="feedbackText">Feedback {{#if ../../student}}Available{{else}}Given{{/if}}</span>
      {{/if}}
    {{/if}}
    </span>
  </span>
  {{#if stars}}
  <span class="starsDiv">
    {{#for 0 stars 1}}
      <img class="starImage", alt="star", src="../../images/star_filled.png">
    {{/for}}
    {{#for stars 3 1}}
      <img class="starImage", alt="star", src="../../images/star_empty.png">
    {{/for}}
  </span>
  {{/if}}
</div>